@page "/"

<PageTitle>LexiconLMS - Home</PageTitle>

@if (Token is null)
{
    <div class="d-flex justify-content-center align-items-start min-vh-100 custom-mt">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card p-5 shadow-sm border">
                <div class="card-body">
                    <h1 class="mb-5">Welcome to Lexicon LMS</h1>
                    <LoginForm />
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>@Token</p>
}