<nav class="navbar navbar-expand-lg bg-navbar">
    <div class="container">
        <NavLink class="navbar-brand d-flex align-items-center" href="/" Match="NavLinkMatch.All">
            <img src="/images/Logo.png" alt="Logo" class="logo-navbar" />
            <span class="brand-text">Lexicon LMS</span>
        </NavLink>
        <AuthorizeView>
            <Authorized>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/teachers" Match="NavLinkMatch.All">Teachers</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/students" Match="NavLinkMatch.All">Students</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/courses" Match="NavLinkMatch.All">Courses</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/modules" Match="NavLinkMatch.All">Modules</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/documents" Match="NavLinkMatch.All">Documents</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/logout" Match="NavLinkMatch.All">Logout</NavLink>
                    </li>
                </ul>
            </Authorized>
        </AuthorizeView>
    </div>
</nav>
