@page "/course/create"
@inject IUnitOfWork unitOfWork
@inject NavigationManager NavigationManager
@using LexiconLMS.Core.Entities
@using LexiconLMS.Core.Repository

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Course</h4>
<hr />
<EditForm Model="@course" OnValidSubmit="@CreateCourse" FormName="CreateCourse">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="Title">Title</label>
        <InputText id="Title" class="form-control" @bind-Value="course.Name" />
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        <InputText id="Description" class="form-control" @bind-Value="course.Description" />
    </div>

    <div class="form-group">
        <label for="StartDate">Start Date</label>
        <InputDate id="StartDate" class="form-control" @bind-Value="course.StartDate" />
    </div>

    <div class="form-group">
        <label for="EndDate">End Date</label>
        <InputDate id="EndDate" class="form-control" @bind-Value="course.EndDate" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</EditForm>

@code {
    private Course course = new Course
    {
        Name = "Course Name",
        Description = "Course Description",
        StartDate = DateTime.UtcNow,
        EndDate = DateTime.UtcNow.AddDays(7),
        Created = DateTime.UtcNow,
        LastModified = DateTime.UtcNow,
         

    };

    private async Task CreateCourse()
    {
        course.Created = DateTime.UtcNow; // Ensure this property exists and is settable
        await unitOfWork.GetRepository<Course>().AddAsync(course);
        await unitOfWork.SaveChangesAsync();
        NavigationManager.NavigateTo("/courses");
    }
}