@page "/courses/create"
@inject IUnitOfWork<LexiconDbContext> unitOfWork
@inject NavigationManager NavigationManager
@using LexiconLMS.Core.Entities
@using LexiconLMS.Core.Repository
@using LexiconLMS.Persistence

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Course</h4>
<hr />
<EditForm Model="@course" OnValidSubmit="@CreateCourse">
    <div class="form-group">
        <label for="Title">Title</label>
        <InputText id="Title" class="form-control" @bind-Value="course.Name" />
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        <InputText id="Description" class="form-control" @bind-Value="course.Description" />
    </div>

    <div class="form-group">
        <label for="StartDate">Start Date</label>
        <InputDate id="StartDate" class="form-control" @bind-Value="course.StartDate" />
    </div>

    <div class="form-group">
        <label for="EndDate">End Date</label>
        <InputDate id="EndDate" class="form-control" @bind-Value="course.EndDate" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</EditForm>

@code {
    private Course course = new Course {
            Name = "Course Name",
            Description = "Course Description",
            StartDate = DateTime.Now,
            EndDate = DateTime.Now.AddDays(30)
        };

    private async Task CreateCourse()
    {
        await unitOfWork.GetRepository<Course>().AddAsync(course);
        await unitOfWork.SaveChangesAsync();
        NavigationManager.NavigateTo("/courses");
    }
}
