@page "/"

<PageTitle>LexiconLMS - Home</PageTitle>

<h3>Lexicon LMS - Mighty Criminals</h3>
<ul>
    <li><a href="/courses">Courses</a></li>
    <li><a href="/courses/create">Create a new course</a></li>
</ul>