@page "/login"

<PageTitle>LexiconLMS - Login</PageTitle>

<h3>Login Page</h3>
<div class="row">
    <div class="col-sm-8 col-xl-4">
        <div class="card">
            <div class="card-body">
                <EditForm Model="Model">
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Email/Username">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>