@page "/details"
<div class="bg-warning p-3">

    <h3>Course: Introduction to computer science</h3>
    <div class="bg-light m-1">Startdate section</div>
    <div class="bg-light m-1">Description Section</div>
</div>


@code {

}
