@page "/teachers"

<PageTitle>LexiconLMS - Teachers</PageTitle>

<<<<<<< HEAD
<h3>Teacher Overview</h3>

<h3>Courses</h3>
<a href="/courses"><button class="btn btn-warning" type="button">All Courses</button></a>


<h3>Modules</h3>
<button class="btn btn-warning">All Modules</button>


@code {

=======
@if (Loading)
{
    <Spinner />
>>>>>>> development
}
else
{
    <h3 class="mb-3">Teacher Overview</h3>
    @if (Model != null && Model.Count() > 0)
    {
        @foreach (var teacher in Model)
        {
            <TeacherCard Teacher="teacher" />
        }
    }
}