@page "/teachers"

<PageTitle>LexiconLMS - Teachers</PageTitle>

@if (Loading)
{
    <Spinner />
}
else
{
    <h3>Teacher Overview</h3>
    @if (Model != null && Model.Count() > 0)
    {
        @foreach (var teacher in Model)
        {
            <TeacherCard Teacher="teacher" />
        }
    }
}