@page "/teachers"

<PageTitle>LexiconLMS - Teachers</PageTitle>

<h3>Teacher Overview</h3>

<h3>Courses</h3>
<button class="btn btn-warning">All Courses</button>

<h3>Modules</h3>
<button class="btn btn-warning">All Modules</button>


@code {

}
