@page "/teachers"

<PageTitle>LexiconLMS - Teachers</PageTitle>

<h3>Teacher Overview</h3>

<h3>Courses</h3>
<a href="/courses"><button class="btn btn-warning" type="button">All Courses</button></a>


<h3>Modules</h3>
<button class="btn btn-warning">All Modules</button>


@code {

}
