@page "/create-course"
@inject NavigationManager NavigationManager

<h3>Add a new Course</h3>

<form method="post" @onsubmit="OnSumbit" @formname="add-course-form" data-enhance>
    <InputText id="name" @bind-Value="@Course.Name" placeholder="Enter Course name"></InputText>
    <InputTextArea id="description" @bind-Value="@Course.Description" placeholder="Add description of the Course"></InputTextArea>
    <InputDate id="startDate" @bind-Value="@Course.StartDate"></InputDate>
    <InputDate id="endDate" @bind-Value="@Course.EndDate"></InputDate>
    <AntiforgeryToken/>
    <button type="submit" class="btn btn-warning">Add Course</button>
</form>

