@page "/courses/edit/{Id:int}"
@inject IHttpService HttpService

<h3>Course Details</h3>

@if (course == null)
{
    <p>Loading...</p>
}
else
{
    <div>
        <h4>@course.Name</h4>
        <p>@course.Description</p>
        <p>Start Date: @course.StartDate.ToShortDateString()</p>
        <p>End Date: @course.EndDate.ToShortDateString()</p>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    public CourseTrimModel? course;

    protected override async Task OnInitializedAsync()
    {
        course = await HttpService.GetAsync<CourseTrimModel>($"{Endpoints.Courses}/{Id}");
    }
}