@page "/courses/edit/{id:int}"
@inject IHttpService HttpService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>Edit Course</h3>

<div class="form-group">
    <label for="name">Name</label>
    <input type="text" @bind="@Course.Name" class="form-control" id="name" />
</div>
<div class="form-group">
    <label for="description">Description</label>
    <textarea @bind="@Course.Description" class="form-control" id="description"></textarea>
</div>
<div class="form-group">
    <label for="startDate">Start Date</label>
    <input type="date" @bind="@Course.StartDate" class="form-control" id="startDate" />
</div>
<div class="form-group">
    <label for="endDate">End Date</label>
    <input type="date" @bind="@Course.EndDate" class="form-control" id="endDate" />
</div>

@code {
   
}

