@page "/students"

<PageTitle>LexiconLMS - Students</PageTitle>

<div class="d-flex flex-column align-items-start min-vh-100">
    <div class ="flex-row">
        <h3 class="mb-3">Student Overview</h3>
    </div>
    @if (Loading)
    {
        <Spinner />
    }
    else
    {
        @if (Model != null && Model.Count() > 0)
        {
            <div class="flex-column">
                <div class="row">
                    @foreach (var student in Model)
                    {
                        <StudentCard Student="student" />
                    }
                </div>
            </div>
        }

        else
        {
        <p>No students found.</p>
        }
    }
</div>
